body {
  font-family: sans-serif;
}
input {
  height: 40px;
  width: 300px;
  color: darkgrey;
  font-size: x-large;
  font-weight: 300;
  padding-left: 5px;
}
.row {
  display: flex;
  /*width: 100%*/
  /*margin: 0 auto;*/
}
.field {
  display: flex; /*maybe no flex here, but it looks okay*/
  flex-wrap: wrap; /*maybe no flex here, but it looks okay*/
  flex-grow: 1;
  /*min-width: 40px;*/
  /*min-height: 40px;*/
  /*border: 1px solid lightgrey;
  border-radius: 5px;*/
  /*padding: 5px;*/
  margin: 0 auto;
}

.field * {
  flex-basis: 50px; /*maybe no flex here, but it looks okay*/
  border: 1px solid burlywood;
  border-radius: 5px;
  margin: 0 10px 5px 10px;
  padding: 2px 5px;
  width: fit-content;
  /*height: fit-content; /*makes the outside boxes smaller*/
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  min-width: 70px;
  text-align: center;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 120%;
  right: 20%;
  /*margin-left: -60px;*/

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.75s;
}

/* Tooltip arrow */
.field * .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 80%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


.field *:hover .tooltiptext {
  visibility: visible;
  opacity: 0.8;
}
